@model Project.Models.Porosi

@{
    ViewData["Title"] = "Fshi Porosi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fshi Porosi</h1>

<h3>Deshironi te shini kete porosi?</h3>
<div>
    <h4>Porosi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlientUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlientUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qyteti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qyteti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerKontakti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerKontakti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPorosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPorosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShumaT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShumaT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Lista e Porosive</a>
    </form>
</div>
